@import url('./normalize.css');
@import url('./fonts.css');
:root{
  --title-font-size: 16px;
}

body {
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: 1px !important;
  line-height: .6cm;
  font-size: 14px;
}