@import url('./normalize.css');
@import url('./fonts.css');
body {
  margin: 0;
  font-family: OpenSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: justify; */
  word-spacing: 4px !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
